.body {
  background-color: #00ace9;
}

.toggle {
  border-color: #ffffff !important;
  background-color: #ffffff !important;
}

.link-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.image-icons {
  vertical-align: middle;
  max-height: 24px;
  width: auto;
}

.white-text {
  color: white;
}

.white-text::after {
  border-top-color: white !important;
}

::after {
  color: white;
}
